body {
    font-family: 'Arial', sans-serif;
    background-color: #ffecb3; /* Hellgelb */
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e57373; /* Hellrot */
    color: #fff; /* Weiß */
    padding: 1em;
}

h1 {
    margin-bottom: 0;
    color: #fdd835; /* Gelb */
}

main {
    padding: 2em;
}

.tenor-gif-embed {
    margin: 20px 0;
}

.tenor-gif-embed img {
    max-width: 100%;
    border-radius: 8px; /* Runde Ecken für das GIF */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schatten für das GIF */
}
